@model BALIBAR.Models.Type

@{
    ViewData["Title"] = "Details";
}

    <div class="bar-display">
        <h1>@Model.Name</h1>
        <hr />

        <div class="row rooms-container">
            <div class="col-md-12 type_detailstag">
                <span class="glyphicon glyphicon-align-justify"></span>
                <hr />
                @Model.Description
            </div>
        </div>

        <div class="row rooms-container">
            <div class="col-md-12 type_detailstag">
                <span class="glyphicon glyphicon-music"></span>
                <hr />
                @Model.MusicType
            </div>
        </div>

        <div class="row rooms-container">
            <div class="col-md-12 bar_navtag" onclick="location.href='@Url.Action("Index","Bars")'">
                Bars list
            </div>
        </div>

        <div style="padding-top:2rem;">
            <a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>

            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                }
            }
        </div>
    </div>