@model IEnumerable<BALIBAR.Models.Type>

@{
    ViewData["Title"] = "Bar types";
}

<h1>Bar types</h1>
@{int i = 0;
    int j = 0;
    BALIBAR.Models.Type selectedType = new BALIBAR.Models.Type();
    BALIBAR.Models.Type[] typ = Model.ToArray(); }
<div class="row">
    <div class="search-card">
        <form id="searchForm" class="form-inline filter">
            <div class="form-group">
                <label class="control-label" for="barName">Bar Type name : </label>
                <input class="form-control" type="text" name="barTypeName">
            </div>
            <div class="form-group">
                <label class="control-label" for="minAge">Music type : </label>
                <input class="form-control" type="text" name="musicTypeName">
            </div>
            <div class="form-group">
                <button id="searchButton" type="button" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <div onclick="location.href='@Url.Action("Create")'" class="room-card new">
                <h1>Add new bar type</h1>
            </div>
        }
    }
</div>

@for (i = 0; i * 3 + j < typ.Length; i++)
{
    <div class="row row-centered">

        @for (; i * 3 + j < typ.Length && j < 3; j++)
        {
            <div class="col-sm-3 type_contaniner" data-value="@typ[i * 3 + j].Id" onclick="location.href='@Url.Action("Details", new { id=@typ[i * 3 + j].Id })'">
                <div class="card-deck">
                    <div class="card  types_card">
                        <div class="card-header">
                            <h5 class="card-header-text">Name</h5>
                            <hr class="sperator">
                        </div>
                        <div class="card-body  text-center">
                            <h3 class="card-title">@typ[i * 3 + j].Name</h3>
                        </div>
                    </div>
                    <div class="card  types_card">
                        <div class="card-header">
                            <h5 class="card-header-text">Description</h5>
                            <hr class="sperator">

                        </div>
                        <div class="card-body">
                            <h3 class="card-title">@typ[i * 3 + j].Description</h3>
                        </div>
                    </div>

                    <div class="card  types_card">
                        <div class="card-header">
                            <h5 class="card-header-text">Music Genre</h5>
                            <hr class="sperator">

                        </div>
                        <div class="card-body">
                            <h3 class="card-title">@typ[i * 3 + j].MusicType</h3>
                        </div>
                    </div>



                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="card-body" style="padding-top:10px;">
                                <a asp-action="Edit" asp-route-id="@typ[i * 3 + j].Id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" /></a>
                                <a asp-action="Delete" asp-route-id="@typ[i * 3 + j].Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash" /></a>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    j = 0;
}


@if (@Model.Count() == 0)
{
    <div>
        <center>
            <h1>No types were found</h1>
        </center>
    </div>
}